<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>BMI Calculator</h1>
    <br><br>
    <form action="/" method="POST">
        Weight in KG
        <input type="text" name="weight">
        <br><br><br>
        Height in CM 
        <input type="text" name ="height">
        <br><br><br>
        <button type="submit" value="submit">Calculate 

        </button>



    </form>
    {% if bmi %}
    <p>Your BMI is {{bmi}}</p>
    {% endif %}
</body>
</html>